@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   @apply bg-black;
}

@layer components {
   .title_statistcs {
      @apply text-white text-5xl lg:text-6xl font-inter font-bold !leading-[140%];
   }
   .title_lg {
      @apply text-white text-5xl lg:text-6xl font-lufga-bold font-bold !leading-[140%];
   }
   .title_md {
      @apply text-white text-3xl lg:text-4xl font-lufga-bold font-bold !leading-[120%];
   }
   .title_sm {
      @apply text-white text-xl lg:text-2xl font-lufga-bold font-bold !leading-[89%];
   }
   .title_xs {
      @apply text-white text-base lg:text-lg font-lufga-bold font-bold !leading-[89%];
   }

   .title_money {
      @apply text-white text-base lg:text-lg font-lufga-regular !leading-[89%];
   }

   .subtitle_statistics {
      @apply text-white text-base font-lufga-regular font-normal !leading-[156.5%];
   }
   .subtitle_md {
      @apply text-gray text-base font-inter font-normal !leading-[156.5%];
   }
   .subtitle_sm {
      @apply text-gray text-sm font-inter font-normal !leading-[156.5%];
   }
   .subtitle_xs {
      @apply text-gray text-xs font-inter font-normal !leading-[156.5%];
   }
   .subtitle_check {
      @apply text-white text-xs font-inter font-normal !leading-[156.5%];
   }
   .container {
      @apply px-5 xl:px-0 xl:max-w-[1110px] mx-auto;
   }
   .container_sm {
      @apply px-5 lg:px-0 lg:w-[920px] mx-auto;
   }
}

@layer utilities {
   .gradient_contact_text {
      background: linear-gradient(
         270deg,
         #2e27fe 0%,
         #9a12ff 73.96%,
         #cd05ff 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
   }
   .white_contact_text {
      background: linear-gradient(270deg, #fff 0%, #fff 73.96%, #fff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
   }

   .card_bg {
      background-image: url("../public/img/card_border.webp");
   }

   .card_bg_unset {
      background-image: unset;
   }

   .mobile_sidebar_gradeint {
      background: linear-gradient(#000, #000) padding-box,
         linear-gradient(180deg, #2e27fe 0%, #9a12ff 100%) border-box;
      background-repeat: no-repeat;
   }
}

.gradient_future {
   background: linear-gradient(180deg, #2e27fe 0%, #9a12ff 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   /* text-fill-color: transparent; */
}

.gradeint_bordered_btn {
   background: linear-gradient(#000, #000) padding-box,
      linear-gradient(270deg, #2e27fe 0%, #9a12ff 73.96%, #cd05ff 100%)
         border-box;
   @apply font-inter duration-150 font-bold text-sm text-white px-[45px] py-3 border-[1.5px] border-transparent rounded-full;
}
.gradeint_bordered_btn:hover {
   background: linear-gradient(#000, #000) padding-box,
      linear-gradient(90deg, #2e27fe 0%, #9a12ff 73.96%, #cd05ff 100%)
         border-box;
}

.gradeint_btn {
   background: linear-gradient(transparent, transparent) padding-box,
      linear-gradient(270deg, #2e27fe 0%, #9a12ff 73.96%, #cd05ff 100%)
         border-box;
   @apply font-inter duration-150 font-bold text-sm text-white px-[45px] py-3 border-[1.5px] border-transparent rounded-full;
}
.gradeint_btn:hover {
   background: linear-gradient(transparent, transparent) padding-box,
      linear-gradient(90deg, #2e27fe 0%, #9a12ff 73.96%, #cd05ff 100%)
         border-box;
}

#pagination_elm .swiper-pagination-bullet {
   width: 11px !important;
   height: 11px !important;
   background: #312e35 !important;
   opacity: 1 !important;
   cursor: pointer;
}
#pagination_elm .swiper-pagination-bullet.swiper-pagination-bullet-active {
   background: linear-gradient(180deg, #2e27fe 0%, #9a12ff 100%) !important;
}

.currently_open {
   @apply bg-[#0C0A11] rounded-[30px];
}

.swiper {
   width: 100%;
   height: 100%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   overflow: hidden;
   border-radius: 20px;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.swiper-pagination-bullet-active {
   background: linear-gradient(180deg, #2e27fe 0%, #9a12ff 100%) !important;
}
.button-gradient {
   background: linear-gradient(
      270deg,
      #2e27fe 0%,
      #9a12ff 73.96%,
      #cd05ff 100%
   );
}

.grad {
   background: linear-gradient(360deg, #000000 12.46%, rgba(0, 0, 0, 0) 83.97%);
}

.text {
   background: linear-gradient(
      270deg,
      #2e27fe 0%,
      #9a12ff 73.96%,
      #cd05ff 100%
   );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}

.container {
   width: 80px;
   height: 100px;
   margin: 100px auto;
   margin-top: calc(100vh / 2 - 50px);
}

.block {
   position: relative;
   box-sizing: border-box;
   float: left;
   margin: 0 10px 10px 0;
   width: 12px;
   height: 12px;
   border-radius: 3px;
   background: linear-gradient(180deg, #2e27fe 0%, #9a12ff 100%);
}

.block:nth-child(4n + 1) {
   animation: wave 2s ease 0s infinite;
}
.block:nth-child(4n + 2) {
   animation: wave 2s ease 0.2s infinite;
}
.block:nth-child(4n + 3) {
   animation: wave 2s ease 0.4s infinite;
}
.block:nth-child(4n + 4) {
   animation: wave 2s ease 0.6s infinite;
   margin-right: 0;
}

@keyframes wave {
   0% {
      top: 0;
      opacity: 1;
   }
   50% {
      top: 30px;
      opacity: 0.2;
   }
   100% {
      top: 0;
      opacity: 1;
   }
}
.preloader.container {
   width: 80px;
   height: 100px;
   margin: 100px auto;
   margin-top: calc(100vh / 2 - 50px);
}

.preloader .block {
   position: relative;
   box-sizing: border-box;
   float: left;
   margin: 0 10px 10px 0;
   width: 12px;
   height: 12px;
   border-radius: 3px;
   background: linear-gradient(180deg, #2e27fe 0%, #9a12ff 100%);
}

.preloader .block:nth-child(4n + 1) {
   animation: wave 2s ease 0s infinite;
}
.preloader .block:nth-child(4n + 2) {
   animation: wave 2s ease 0.2s infinite;
}
.preloader .block:nth-child(4n + 3) {
   animation: wave 2s ease 0.4s infinite;
}
.preloader .block:nth-child(4n + 4) {
   animation: wave 2s ease 0.6s infinite;
   margin-right: 0;
}

@keyframes wave {
   0% {
      top: 0;
      opacity: 1;
   }
   50% {
      top: 30px;
      opacity: 0.2;
   }
   100% {
      top: 0;
      opacity: 1;
   }
}
